:root{
    --font_color:#000000;
    --head_bg:#9df3b86d;
    --font_style:Poppins;
    --logo_color:green;
    --head_font_color:rgb(70, 129, 70);


}

body{
    /* background-color: rgb(46, 46, 46); */
    margin: 0;
    color:var(--font_color);
    font-family: var(--font_style);
}
header{
    text-align: center;
    background-color:var(--head_bg) ;
    padding: 0.8px;
    color: var(--head_font_color);
}
header p {
  position: relative;
  top: -80px;
  opacity: 0; 
  animation: revealText 0.9s ease-out forwards;
}

@keyframes revealText {

   0% {
    top: -80px;
    opacity: 0;
  }
  100% {
    top: 0;       
    opacity: 1; 
  }
}
header span{
    color: var(--logo_color);
    font-weight: bolder;
}

.main_banner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}


.text_content {
  position: absolute;
  top: 50%; 
  left: -200px;
  transform: translateY(-50%);
  color: rgb(24, 28, 24);
  z-index: 3;
  opacity: 0;
  animation: textslide 1s ease forwards;
  animation-delay: 3s; 
}


.image_banner {
  position: relative;
  width: 100%;
  background-color: var(--head_bg);
  /* background-color: rgb(116, 255, 112); */

  padding-left: 2px;
  height: 100%;
  overflow: hidden;
}

.image_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}


.reveal_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
  animation: curtain 2s ease forwards;
  animation-delay: 1.5s; 
}

@keyframes curtain {
  0% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

@keyframes textslide {
  0% {
    left: -200px;
    opacity: 0;
  }
  100% {
    left: 20px;
    opacity: 1;
  }
}

.text_content button{
  background-color:black;
  border: none;
  border-radius: 0.3rem;
  height: 50px;
  width: 120px;
  color: white;
}
.tags_sec {
  display: flex;
  justify-self: center; 
  width: fit-content; 
  margin-bottom: 5rem; 
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 2px solid gray; 
  box-sizing: border-box; 
}

.tags_sec ul {
  list-style: none;
  display: flex;
  gap: 2rem; 
  padding: 0;
  margin: 0;
  color: gray;
}

.tags_sec ul li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#tag {
  border: 0;
  margin: 0;
  align-items: center;
}
